@font-face {
    font-family: "inter";
    src: url(./font/Inter/static/Inter-Light.ttf);
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    color: black;
    font-family: "inter";
}

html,
body {
    height: 100%;
    width: 100%;
}

#main {
    width: 100%;
}

nav {
    height: 5vw;
    width: 100vw;
    /* background: #000; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0vw 8.5vw;
    position: relative;
}

.nleft {
    display: flex;
    gap: 20px;
}

nav a {
    font-size: 0.9vw;
    font-weight: 800;
    text-decoration: none;

}

nav #center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
}

.page1 {
    width: 100%;
    margin-top: 13vw;
    padding: 0vw 8.5vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background: #000; */
    height: fit-content;
}

.sustain {
    width: 11vw;
    /* background: red; */
}

.sustain p {
    font-size: 1vw;
    font-weight: 800;
    opacity: .5;
    line-height: 1;
    text-transform: capitalize;
}

.sustain .susimag {
    height: 15vw;
    width: 100%;
    /* background: #000; */
    margin-top: 1.5vw;
    position: relative;
    overflow: hidden;
}

.susimag img {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 140%;
    height: 140%;
    object-fit: cover;
}

.middle {
    width: 28vw;
    /* height: 40vw; */
    /* background:purple; */
    position: relative;
}

.middle .heading h1 {
    font-size: 5.5vw;
    font-weight: 400;
    letter-spacing: -0.5vw;
    line-height: 1;
}

.middle .heading {
    position: absolute;
    top: -9vw;
    left: -2.9vw;
}

.middle img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.middle p {
    width: 40%;
    margin-top: 1.5vw;
    font-weight: 500;
    letter-spacing: -0.05vw;
    line-height: 1.1;
}

.visit {
    display: flex;
    align-items: center;
    gap: 0.5vw;
}

.icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3vw;
    height: 3vw;
    border-radius: 50%;
    border: 2px solid #dadada;
    /* background: #000; */
}

.icon i {
    font-size: 1.5vw;
    color: #656161;
}

.visit h3 {
    font-weight: 200;
    font-size: 1.2vw;
}

.page2 {
    padding: 3vw 8.5vw;
    margin-top: 5vw;
    display: flex;
    justify-content: space-between;


}

.page2 h3 {
    color: #545151;
}

.page2 p {
    /* display: flex; */
    align-items: center;
    width: 50%;
    text-align: right;
    padding: 3vw 0vw;
    line-height: 1.9;
    margin-left: 15vw;
    font-size: 1.3vw;
    text-transform: capitalize;
}

.page2 span {
    display: inline-block;
    background: red;
    border-radius: 100px;
    margin: -0.6vw 0.3vw;

}

#one {
    width: 4vw;
    height: 2vw;
    background: url('./img/bluegirl.jpg');
    background-size: cover;
    background-position: 0% 56%;
}

#two {
    width: 5vw;
    height: 2vw;
    background: url('./img/shaljam.jpg');
    background-size: cover;
    background-position: 0% 48%;
}

#three {
    width: 4vw;
    height: 2vw;
    background: url('./img/grass.jpg');
    background-size: cover;
    background-position: 0% 50%;
}

.page3 {
    padding: 4vw;
    padding-left: 14vw;
    padding-right: 12vw;
    display: flex;
    justify-content: space-between;
}

.page3 .first {
    width: 16vw;
    /* background: purple; */
}

.first .pic1 {
    width: 100%;
    height: 23vw;
    /* background: yellow; */
    margin-bottom: 1.5vw;
}

.first .pic1 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.first h1,
.second h1 {
    font-size: 1.8vw;
    margin-bottom: 0.3vw;
}

.first p,
.second p {
    letter-spacing: -0.03vw;
}

.page3 .second {
    width: 24vw;
}

.second .pic2 {
    width: 100%;
    height: 35vw;
    background: red;
    margin-bottom: 1.5vw;
}

.second .pic2 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.page4 {
    margin-top: 10vw;
    padding-right: 8.5vw;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.banner {
    width: 75%;
    height: 35vw;
    background: red;
}

.banner img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: 0% 75%;
}

.bannertext {
    width: 30%;
    padding: 0vw 2vw;
}

.bannertext h1 {
    font-weight: 500;
    margin-bottom: 1vw;
}

.bannertext p {
    width: 60%;
    font-size: 0.9vw;
    letter-spacing: -0.05vw;
}

.page5 {
    margin-top: 0.5vw;
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
    display:flex;
    align-items: center;
    justify-content: center;
}

.page5 video {
    position: absolute;
    width: 100%;
    opacity: 0;
}
.text{
    z-index: 99;
    text-align: center;
    background: white;
    padding: 1vw 1vw;
    border-radius: 10px;
}
.text h1{
    text-transform: capitalize;
    margin-bottom: 1vw;
}
.text button{
    padding: 0.5vw 1vw;
    border-radius: 50px;
    border: 1px solid #000;
    background: transparent;
    font-weight: 500;
}
